@model FileUploadViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Send your Documents Here</h4>
<hr />
@if (ViewBag.Message != null)
{
    <div class="alert alert-success alert-dismissible" style="margin-top:20px">
        @ViewBag.Message
    </div>
}
<form method="post" enctype="multipart/form-data">

    <input type="number" autocomplete="off" placeholder="Code" name="Code" required />
    <input type="text" autocomplete="off" placeholder="Title" name="Title" required />
    <input type="text" autocomplete="off" placeholder="Process" name="Process" required />
    <input type="text" autocomplete="off" placeholder="Category" name="Category" required />
    <input type="file" name="files" multiple required />
    <button class="btn btn-success" type="submit" asp-controller="File" asp-action="UploadToDatabase">Upload</button>
</form>
<hr />


<h4>Files</h4>
@if (Model.FilesOnDatabase.Count == 0)
{
    <caption>No Records Found</caption>
}
else
{
    <caption>List of Files on Database</caption>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Code</th>
                <th>Title</th>
                <th>Process</th>
                <th>Category</th>                
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var file in Model.FilesOnDatabase.OrderBy(m => m.Title))
            {
            <tr>
                <th>@file.Id</th>
                <td>@file.Code</td>
                <td>@file.Title</td>
                <td>@file.Process</td>
                <td>@file.Category</td>
                <td>
                    <a type="button" class="btn btn-primary" asp-controller="File" asp-action="DownloadFileFromDatabase" asp-route-id="@file.Id">Download</a>
                    <a type="button" class="btn btn-danger" asp-controller="File" asp-action="DeleteFileFromDatabase" asp-route-id="@file.Id">Delete</a>
                </td>
            </tr>
            }

        </tbody>
    </table>
}
